/**
 * Created by Administrator on 2015/1/20.
 */
body {
    position: relative;
    background: #ffffff;
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
    font-weight: normal;
    line-height: 1.6;
    color: #333333;
    font-size: 1.6rem;
    background: url("../img/bg.png") repeat;
    /*font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;*/
}
